<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>ServletClass.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/DeleteUser.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreData</display-name>
    <servlet-name>StoreData</servlet-name>
    <servlet-class>ServletClass.StoreData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreData</servlet-name>
    <url-pattern>/StoreData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadData</display-name>
    <servlet-name>ReadData</servlet-name>
    <servlet-class>ServletClass.ReadData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadData</servlet-name>
    <url-pattern>/ReadData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginData</display-name>
    <servlet-name>CheckLoginData</servlet-name>
    <servlet-class>ServletClass.CheckLoginData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginData</servlet-name>
    <url-pattern>/CheckLoginData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginDataServerSide</display-name>
    <servlet-name>CheckLoginDataServerSide</servlet-name>
    <servlet-class>ServletClass.CheckLoginDataServerSide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginDataServerSide</servlet-name>
    <url-pattern>/CheckLoginDataServerSide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>ServletClass.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>ServletClass.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ServletClass.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordUpdate</display-name>
    <servlet-name>ForgotPasswordUpdate</servlet-name>
    <servlet-class>ServletClass.ForgotPasswordUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordUpdate</servlet-name>
    <url-pattern>/ForgotPasswordUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>ServletClass.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword2</display-name>
    <servlet-name>UpdatePassword2</servlet-name>
    <servlet-class>ServletClass.UpdatePassword2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword2</servlet-name>
    <url-pattern>/UpdatePassword2</url-pattern>
  </servlet-mapping>
</web-app>